@model Skyberry.Admin.ViewModels.ContactVM

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Contact Details";
}

<h2>Contact Details</h2>
<hr />

<div>
    @Html.Partial("_ContactDetailsPartial", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Contact.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("_RelatedUsersPartial", Model.Contact.SkyberryUsers.ToList())
@Html.Partial("_RelatedAccountsPartial", Model.Contact.Accounts.ToList())
