@model List<Skyberry.Domain.Contract>

<div class="related">
    <h4>Contracts</h4>
    <table id="tbl-grid-contract" class="tbl-grid hl pad-full">
        <tr>
            <th class="c1">Title</th>
            <th class="c2">Number</th>
            <th class="c3">Created</th>
            <th class="c4"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="c1">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="c2">
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td class="c3">
                    @item.CreatedDate.ToString("M/dd/yyyy")
                </td>
                <td class="c4">
                    @Html.ActionLink("Edit", "Edit", "Contracts", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Contracts", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Contracts", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>