@model List<Skyberry.Domain.Image>

<div class="related">
    <h4>Images</h4>
    <table id="tbl-grid-image" class="tbl-grid hl">
        <tr>
            <th class="c0"></th>
            <th class="c1">Filename</th>
            <th class="c2">Title</th>
            <th class="c3">Version</th>
            <th class="c4"></th>
        </tr>
        @foreach (var item in Model.OrderBy(e=>e.Title).ThenBy(e=>e.FilenameOriginal))
        {
            <tr>
                <td class="c0"><a href="/files/@item.Filename" target="_blank"><img src="~/files/@(item.Filename)?mode=crop&width=50" /></a></td>
                <td class="c1">
                    @Html.DisplayFor(modelItem => item.FilenameOriginal)
                </td>
                <td class="c2">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="c3">
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td class="c4">
                    @Html.ActionLink("Edit", "Edit", "Images", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Images", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Images", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
