@model Skyberry.Admin.ViewModels.ReviewDocumentListVM

@using PagedList.Mvc;
@using PagedList;
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Review Document List";
    string sortby = "";
}

<h2>Review Document List</h2>
<hr />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="grid-filters">
    <form action="@Url.Action("Index", "ReviewDocuments")" method="get" name="frm" id="frm">
        <input type="hidden" name="Sort" value="@Model.PageSortCriteria.Sort" />
        <input type="hidden" name="Page" value="1" />

        <h4>Filters</h4>
        <div>
            <label for="Title">Title</label>
            <input type="text" name="Title" id="Title" value="@Model.SearchCriteria.Title" />
        </div>
        <div>
            <label for="Version">Version</label>
            <input type="text" name="Version" id="Version" value="@Model.SearchCriteria.Version" />
        </div>
        <div style="margin-top:10px;"><button type="submit" class="btn btn-default">Update</button></div>
    </form>
</div>

<div class="pager-div">
    @if (Model.ReviewDocuments.GetMetaData().PageCount > 1)
    {
        @Html.PagedListPager((IPagedList)Model.ReviewDocuments, page => Url.Action("Index", "ReviewDocuments", new { page = page, sort = Model.PageSortCriteria.Sort, title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }
</div>

<table id="tbl-grid-review-document" class="tbl-grid hl pad-full">
    <tr>
        <th class="c1">
            @{
                sortby = "DesignReview.Project.Account.Name";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Account<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c2">
            @{
                sortby = "DesignReview.Project.Name";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Project<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c3">
            @{
                sortby = "DesignReview.Title";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Design Review<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c4">
            @{
                sortby = "Title";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Title<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c5">
            @{
                sortby = "Version";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Version<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c6">
            @{
                sortby = "Order";
            }
            <a href="@Url.Action("Index", "ReviewDocuments", new { page = Model.PageSortCriteria.Page, sort = Model.PageSortCriteria.SortToogle(sortby), title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version })">Order<span class="sort @Model.PageSortCriteria.SortCss(sortby)"></span></a>
        </th>
        <th class="c7"></th>
    </tr>
    @foreach (var item in Model.ReviewDocuments)
    {
        <tr>
            <td class="c1">
                @Html.DisplayFor(modelItem => item.DesignReview.Project.Account.Name)
            </td>
            <td class="c2">
                @Html.DisplayFor(modelItem => item.DesignReview.Project.Name)
            </td>
            <td class="c3">
                @Html.DisplayFor(modelItem => item.DesignReview.Title)
            </td>
            <td class="c4">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="c5">
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td class="c6">
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td class="c7">
                @Html.ActionLink("Edit", "Edit", "ReviewDocuments", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "ReviewDocuments", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "ReviewDocuments", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>


<div class="pager-div">
    @if (Model.ReviewDocuments.GetMetaData().PageCount > 1)
    {
        @Html.PagedListPager((IPagedList)Model.ReviewDocuments, page => Url.Action("Index", "ReviewDocuments", new { page = page, sort = Model.PageSortCriteria.Sort, title = Model.SearchCriteria.Title, version = Model.SearchCriteria.Version }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }
</div>